#logo {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 3%;
    top: 3%;
    background-color: red
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: inline;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

#menu {
    position: relative;
    width: 100%;
}

#menu-item-current {
    font-weight: bold;
}

.menu-item, .menu-item-last, #menu-item-current {
    text-align: center;
    font-family: gotham;
    font-size: 13pt;
    position: relative;
    top: 25px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.menu-item {
    border-right: solid 1px;
    border-color: #CA972D;
}

#top-banner {
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(../images/standard_background.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#teamgrid {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 60%;
    background-color: white;
}

#summary {
    position: relative;
    top: 30%;
    left: 2%;
}

#title {
    position: relative;
    color: white;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
}

#summary-text {
    position: relative;
    width: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
    color: white;
}

#bio-block {
  align-content: center;
}

.prof-pic {
    position: relative;
    display: block;
    margin: auto;
    top: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#name, #occupation{
    top: 40px;
    position: relative;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
}