html, body {
    background-color: #F5F8F9;
}

#logo {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 3%;
    top: 3%;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: inline;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

#menu {
    position: relative;
    width: 100%;
}

#menu-item-current {
    font-weight: bold;
}

.menu-item, .menu-item-last, #menu-item-current {
    text-align: center;
    font-family: gotham;
    font-size: 13pt;
    position: relative;
    top: 25px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.menu-item {
    border-right: solid 1px;
    border-color: #CA972D;
}


#top-banner {
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(../images/standard_background.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#summary {
    position: relative;
    top: 30%;
    left: 2%;
    float: left
}

#title {
    position: relative;
    color: white;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20.9px;
    text-align: left;
}

.summary-text {
    position: relative;
    width: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    color: white;
    display: inline;
}

#p1 {
    display: block;
}

#p2 {
    color: #F5D328;
}

#form {
    position: absolute;
    top: 65%;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #35A2EF;
    box-shadow: 0 1px 0 0 #35A2EF;
}

.input-field textarea[type=text]:focus {
    border-bottom: 1px solid #35A2EF;
    box-shadow: 0 1px 0 0 #35A2EF;
}

.btn, .btn:hover, .input:focus {
    background-color: #35A2EF;
}
