html, body {
    background-color: #F5F8F9;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: inline;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

#menu {
    position: relative;
    width: 100%;
}

#menu-item-current {
    font-weight: bold;
}

.menu-item, .menu-item-last, #menu-item-current {
    text-align: center;
    font-family: gotham;
    font-size: 13pt;
    position: relative;
    top: 25px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.menu-item {
    border-right: solid 1px;
    border-color: #CA972D;
}

#top-banner {
    position: absolute;
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(../images/help-us-background.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#summary {
    position: relative;
    top: 30%;
    left: 2%;
}

#title {
    position: relative;
    color: white;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20.9px;
}

.summary-text {
    position: relative;
    top: 30%;
    width: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    color: white;
    display: inline;
}

.bottom {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 37px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-top: 30%;
    color: #41464D;
}

#p2 {
    color: #173D73;
}

#message {
    margin-top: 50px;
    padding-right: 20px;
    border-right: gray;
    border-right-width: medium;
    border-right-style: ridge;
}

.reasons {
    font-size: 14px;
    margin-left: 50px;
}

.donate-button {
    margin: 50px;
    width: 200px;
    height: 100px;
}