#logo {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 3%;
    top: 3%;
    background-color: red
}

#ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0 0 0 30px;
}

li {
    float: left;
}

li a {
    display: inline;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
}

#menu {
    position: relative;
    width: 100%;
}

#menu-item-current {
    font-weight: bold;
}

.menu-item, .menu-item-last, #menu-item-current {
    text-align: center;
    font-family: gotham;
    font-size: 13pt;
    position: relative;
    top: 25px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.menu-item {
    border-right: solid 1px;
    border-color: #CA972D;
}

#top-banner {
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(../images/standard_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    position: relative;
    color: white;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
}

#summary-text {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
    color: white;
}
.arrow-right {
    position: relative;
    width: 0; 
    height: 0; 
    border-top: 68px solid transparent;
    border-bottom: 68px solid transparent;
    border-left: 34px solid blue;
}
.arrow-right:after {
    width: 0; 
    height: 0;
    border-top: 64px solid transparent;
    border-bottom: 64px solid transparent;
    border-left: 32px solid white;
    right: 1px;
    position: absolute;
    top: -64px;
    content: '';
}
.arrow-left {
    position: relative;
    width: 0; 
    height: 0; 
    border-top: 68px solid transparent;
    border-bottom: 68px solid transparent;
    border-right: 34px solid blue;
}
.arrow-left:after {
    width: 0; 
    height: 0; 
    border-top: 64px solid transparent;
    border-bottom: 64px solid transparent;
    border-right: 32px solid white;
    left: 1px;
    position: absolute;
    top: -64px;
    content: '';
}
.media-bar-separator {
  width: 10%;
}
.media-bar-side-border {
  width: 20%;
}
#twitter-embed {
  height: 100%;
  width: 30%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
#social-media-bar {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 90%;
  background: transparent;
}
#lower-banner {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 60%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+39,1e5799+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 39%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 39%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 39%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}