html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(../images/landing_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#intro-text, #intro-subtext {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white;
}

#intro-subtext {
    font-weight: bold;
}

#learn-more-button {
    background-color: Transparent;
    font-size: 24pt;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    padding: 5px 55px 5px 55px;
}

.left-text {
    position: absolute;
    left: 50px;
    top: 200px;
}

#rayse-title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    width: 480px;
    position: relative;
    left: 65%;
    top: 300px;
    font-size: 50pt;
}

#lightbulb-logo {
    height: 58pt;
    width: 38pt;
    position: relative;
    left: 77%;
    top: 270px;
    background-repeat: no-repeat;
}

#title1 {
    color: #CA972D;
}

#title2 {
    color: #35A2EF;
}